<?xml version="1.0"?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
     
    </commands>
    <settings>
 	<setting name="detailAlbumPageID" value="{}"/>
	<setting name="detailPhotoPageItemID" value="{}"/>
	<setting name="uploadPhotosPageItemID" value="{}"/>
	<setting name="albumSliderPageItemID" value="{}"/>
	<setting name="photosInPage" value="9"/>
	<setting name="albumsInPage" value="5"/>
	<setting name="albumMaxPages" value="5"/>
    </settings>
    
    <xslExtensions>
      <extension x:before="*[1]" mode="on" type="Sitecore.Modules.PhotoAlbum.BusinessLayer.PhotoAlbumCore, Sitecore.Modules.PhotoAlbum" namespace="http://www.sitecore.net/photoalbum" singleInstance="true"/>
    </xslExtensions>

  </sitecore>

 

</configuration>
  